{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!--<link rel="stylesheet" href="{% static 'css/customers_cart_pdf.css' %}">-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        {% comment %} JQuery {% endcomment %}
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <span class="navbar-text">
                    <ul class="navbar-nav">
                      {% if admin %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if admin == "admin" %}
                                    <img src="/media/icons/administrator-developer-icon.svg">
                                {% else %}
                                    <img src="/media/icons/approved-profile-icon.svg">
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" data-bs-theme="dark">
                              <li> <p> Logged in as: {{admin}} </p> </li>
                              <li> <hr class="dropdown-divider">
                                   <hr class="dropdown-divider">
                              </li>
                              <li>
                                  {% if admin == "admin" %}
                                    <a class="dropdown-item" href="{% url 'customers-cart' %}" style="color: white;">
                                        View Customers Carts
                                    </a>
                                  {% else %}
                                      <a class="dropdown-item" href="{% url 'visitors_view:cart-detail' admin %}" style="color: white;">
                                          <img src="/media/icons/red-shopping-cart-10906.svg"> Your Carts
                                      </a>
                                  {% endif %}
                              </li>
                              <li><hr class="dropdown-divider" style="color: white;"></li>
                              <li><a class="dropdown-item" href="{% url 'logout' %}" style="color: white;">Log-out</a></li>
                            </ul>
                        </li>
                      {% else %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'login' %}"> Log-In </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'signup' %}"> Sign-Up </a>
                        </li>
                      {% endif %}
                    </ul>
                </span>
              </div>
            </div>
          </nav>

          <div class="container">
            {% block content %}

            {% endblock %}
          </div>

          {% comment %} JS {% endcomment %}
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

          <script>
              $('#add-more').click(function() {
                console.log("clicked");
                var idx = $('#id_form-TOTAL_FORMS').val();
                console.log(parseInt(idx));
                $('#form_set').append($('#empty-form').html().replace(/__prefix__/g, idx));
                $('#id_form-TOTAL_FORMS').val(parseInt(idx) + 1);
              });

              $('.add-remove-btn').click(function() {
                var cart_count = $('.show-cart').html();
                /* toggle add and remove cart icon and also increment and decrement cart count
                   based on last count state */
                if (cart_count == 0) {
                  $('.show-cart').html(parseInt(cart_count)+1);
                  $('.add-remove-image').attr("src", "/media/icons/subtract-color-icon.svg");
                }
                else {
                  $('.show-cart').html(parseInt(cart_count)-1);
                  $('.add-remove-image').attr("src", "/media/icons/addition-color-icon.svg");
                }
              });

              $('.cart button').click(function() {
                var cartProductsIdxClass = $(this).attr("class");
                var charCount = cartProductsIdxClass.length-1;

                var cartQuantityAction = cartProductsIdxClass.slice(0, charCount-1);

                var quantity = ".quantity-";
                var quantityCountClass = quantity.concat(cartProductsIdxClass[charCount]);

                var quantityMsg = ".quantity-message-";
                var quantityMsgClass = quantityMsg.concat(cartProductsIdxClass[charCount]);

                var unitPrice = ".unit-price-";
                var unitPriceClass = unitPrice.concat(cartProductsIdxClass[charCount]);

                var totalPrice = ".total-price-";
                var totalPriceClass = totalPrice.concat(cartProductsIdxClass[charCount]);


                if (cartQuantityAction === "increment-quantity") {
                  console.log("increment");
                  var qty = $(quantityCountClass).html();
                  var qtyIncr = parseInt(qty) + 1;

                  var prodUnitPrice = $(unitPriceClass).html();

                  if (qtyIncr > 1) {
                    $(quantityMsgClass).html('');
                  }
                  $(quantityCountClass).html(qtyIncr);
                  $(totalPriceClass).html(parseInt(prodUnitPrice) * qtyIncr);
                }
                else if (cartQuantityAction === "decrement-quantity") {
                  console.log("decrement");
                  var qty = $(quantityCountClass).html();
                  var qtyDecr = parseInt(qty) - 1;

                  var prodUnitPrice = $(unitPriceClass).html();
                  if (qtyDecr <= 0) {
                    qtyDecr = 1;
                    $(totalPriceClass).html(parseInt(prodUnitPrice) * qtyDecr);
                    $(quantityMsgClass).html('minimum quantity must be 1');
                  }
                  $(quantityCountClass).html(qtyDecr);
                  $(totalPriceClass).html(parseInt(prodUnitPrice) * qtyDecr);
                }
                if (cartQuantityAction === "update-quantity") {
                  console.log("update quantity...", cartProductsIdxClass[charCount]);

                  var product = ".product-";
                  var productClass = product.concat(cartProductsIdxClass[charCount]);
                  console.log($(productClass).text().trim());
                  var data = {
                    'product': $(productClass).text().trim(),
                    'quantity': parseInt($(quantityCountClass).html()),
                    'total_price': parseInt($(totalPriceClass).html()),
                  };
                  $.ajax({
                      type: "POST",
                      url: '{% url "visitors_view:cart-update" %}',
                      data: data,
                      headers: {'X-CSRFToken': $.cookie("csrftoken")},
                      success: function() {
                        console.log("success");
                        $(quantityMsgClass).html('update quantity successful ');
                      },
                      error: function() {
                        console.log("error");
                        $(quantityMsgClass).html('error while updating... ');
                      },
                  });
                }
              });

          </script>
    </body>
</html>